
body{
  background: linear-gradient(to right,rgb(205, 205, 127) ,rgb(240, 220, 108))
}

.Menu{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  padding: 30px;
 
}
.Dishes{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px ;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(235, 223, 154);
  box-shadow: 2px 2px 8px black;
}

img{
  height: 300px;
  width: 300px;
  border-radius: 20px;
 
}
h1{
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(81, 141, 47, 0.579);
}
h3{
  font-size: 20px;
}
button{
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(77, 77, 241);
  color: blanchedalmond;
  cursor: pointer;
  box-shadow: 1px 1px 3px yellowgreen;
}
button:hover{
  background-color: blue;
}
.next{
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
